@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

b, strong {
  font-weight: 100; }

em, i {
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-size: 16px; }

a, u {
  text-decoration: none; }

input {
  outline: none; }

img {
  display: block;
  border: 0; }

html, body {
  height: 100%; }

header {
  width: 1263px;
  height: 30px;
  background: #e5e5e5;
  font-size: 12px;
  line-height: 30px;
  color: #77686b; }
  header a {
    color: #77686b; }
  header a:first-child {
    margin-left: 32px; }
  header a:nth-child(2) {
    margin-left: 450px; }
  header a:nth-child(3) {
    margin-left: 20px; }
  header a:nth-child(4) {
    display: inline-block;
    width: 94px;
    height: 12px;
    text-align: center;
    margin-right: 20px; }
  header .my {
    margin-left: 23px;
    margin-right: 22px; }
  header .sc {
    display: inline-block;
    width: 90px;
    text-align: center; }
  header .phone {
    display: inline-block;
    width: 48px;
    text-align: right;
    background: url(../image/iphone.png) no-repeat left 9px;
    margin: 0 22px;
    position: relative; }
  header .phone div {
    display: none; }
  header .phone div img {
    width: 100px;
    height: 100px; }
  header .phone:hover div {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: 1000; }
  header .wx {
    display: inline-block;
    width: 54px;
    text-align: right;
    background: url(../image/wx.png) no-repeat left 9px;
    position: relative; }
  header .wx div {
    display: none; }
  header .wx img {
    width: 100px;
    height: 100px; }
  header .wx:hover div {
    display: block;
    position: absolute;
    bottom: -100px;
    right: 0px;
    width: 100px;
    height: 100px;
    z-index: 1000; }

#sousuo {
  width: 1200px;
  height: 130px;
  line-height: 130px;
  margin: 0 auto; }
  #sousuo h1 {
    float: left;
    margin: 44px 120px 0 9px; }
  #sousuo .ip {
    margin-top: 32px;
    float: left;
    width: 501px;
    height: 70px;
    position: relative;
    margin-right: 156px; }
    #sousuo .ip .txt {
      width: 400px;
      height: 40px;
      border: 2px solid #e00f51;
      border-right: none;
      float: left; }
    #sousuo .ip .search {
      width: 98px;
      height: 44px;
      background: #dc0f50;
      border: none;
      float: left;
      color: #fff; }
    #sousuo .ip .search:hover {
      background: deeppink; }
    #sousuo .ip p {
      position: absolute;
      height: 12px;
      top: 5px;
      left: 5px; }
      #sousuo .ip p a {
        color: #9c9195;
        font-size: 12px; }
      #sousuo .ip p a:hover {
        color: red; }
  #sousuo .gwc {
    width: 105px;
    height: 42px;
    border: 1px solid #e8e8e8;
    float: left;
    position: relative;
    text-align: center;
    line-height: 42px;
    margin-top: 42px;
    color: #412c19;
    background: url(../image/car_icon.png) no-repeat 9px 11px;
    padding-left: 15px; }
    #sousuo .gwc span {
      position: absolute;
      display: block;
      height: 18px;
      width: 18px;
      border-radius: 9px;
      right: -9px;
      top: -9px;
      background: #e1155c;
      font-size: 8px;
      text-align: center;
      line-height: 18px;
      color: #fff; }
    #sousuo .gwc div {
      position: absolute;
      height: 43px;
      width: 360px;
      border: 1px solid #e8e8e8;
      display: none; }
  #sousuo .gwc:hover div {
    display: block;
    position: absolute;
    bottom: -46px;
    right: 0;
    background: url(../image/car.png) no-repeat 5px 11px; }

nav {
  width: 1263px;
  height: 40px;
  border-bottom: 2px solid #db1052; }
  nav li {
    height: 40px;
    line-height: 40px;
    cursor: pointer; }
  nav li:first-child {
    float: left;
    margin-left: 32px;
    width: 213px;
    padding-left: 20px;
    background: black;
    color: #fff;
    line-height: 40px;
    font-size: 12px; }
  nav li:nth-child(2) {
    margin-left: 53px;
    font-size: 16px;
    float: left;
    color: #e70d59; }
  nav li:nth-child(3) {
    margin-left: 43px;
    font-size: 16px;
    float: left; }
  nav li:nth-child(4) {
    margin-left: 43px;
    font-size: 16px;
    float: left; }
  nav li:nth-child(5) {
    margin-left: 43px;
    font-size: 16px;
    float: left; }
  nav li:nth-child(6) {
    margin-left: 43px;
    font-size: 16px;
    float: left; }
  nav li:hover {
    color: #e70d59; }
  nav li:first-child:hover {
    color: #fff; }

#list1 {
  width: 1200px;
  height: 561px;
  margin: 0 auto; }
  #list1 ul {
    float: left;
    width: 231px;
    height: 559px;
    border: 1px solid #e5e5e5;
    margin-right: 10px; }
    #list1 ul li {
      height: 40px;
      padding-left: 20px;
      line-height: 40px; }
    #list1 ul li:hover {
      background: #da0f51;
      color: #fff; }
  #list1 .lunbo {
    width: 714px;
    height: 561px;
    float: left; }
