@import"public";
#list1{
    width:1200px;height:561px;margin:0 auto;
    ul{float:left;width:231px;height:559px;border:1px solid #e5e5e5;margin-right: 10px;
        li{height:40px;padding-left: 20px;line-height: 40px;}
        li:hover{background:#da0f51;color:#fff}
    }
    .lunbo{width:714px;height:561px;float:left;
        
    }
}

